<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Recycle:: 버려졌던 작품을 재활용</title>
  <!-- meta tags SEO -->
  <meta charset="utf-8" />
  <meta name="subject" content="작품 재활용">
  <meta name="title" content="Secondhand:: 버려졌던 작품을 재활용">
  <meta name="author" content="OpenYearRound">
  <meta name="keywords" content="artwork, 예술품, 공모전, 대학생, 작품재활용, 작품렌트">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">

  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <!-- google web font Noto Sans-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean" rel="stylesheet">

  <!-- load css files -->
  <link href="/stylesheets/find.css" rel="stylesheet">

  <!-- pinterest -->
  <script src="/javascripts/jquery.imagesloaded.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

  <!-- infinite scroll -->
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>
</head>

<!--session check-->
<script>
  $.post('/sessionchecker', function(data) {
    if (data) { // session 있을 때
      $('.session-true').show();
      $('.session-false').hide();
    } else { // session 없을 때
      $('.session-true').hide();
      $('.session-false').show();
    }
  })
</script>

<body>
  <div id="top_section"></div>
  <div id="navbar">
    <div class="logo">
      <img src="/images/logo2.png" />
    </div>
    <div class="nav-list">
      <a href="/">Home</a>
      <a href="/find">작품 보기</a>
      <a href="/register" class="session-true" style="display:none">작품 등록하기</a>
      <a class="session-false" data-toggle="modal" data-target="#loginModal" onclick="resetModal()">작품 등록하기</a>
    </div>

    <div class="log_png" style="cursor: pointer;">
      <div class="session-true">
        <a href="#"><img src="/images/cart.png" /></a>
        <a href="#"><img src="/images/find.png" /></a>
        <a href="/mypage"><img src="/images/profile.png" /></a>
      </div>
      <a class="session-false" style="font-size:20px; font-weight: 700;" data-toggle="modal" data-target="#loginModal" onclick="resetModal()">로그인</a>
    </div>


  </div>

  <div class="section1">
    <div class="container">
      <div class="category">
        <div class="row">
          <div class="thema row_margin">
            <h5>테마</h5>
            <button>일러스트</button>
            <button>사진</button>
            <button>회화</button>
            <button>가구</button>
            <button>캘리그라피</button>
            <button>사운드</button>
            <button>애니메이션</button>
            <button id="ridicule">조소</button>
          </div>
        </div>
        <div class="row">
          <div class="region row_margin">
            <h5>지역</h5>
            <button>서울</button>
            <button>대구</button>
            <button>부산</button>
            <button>울산</button>
          </div>
        </div>
        <div class="row_last" style="height:25%">
          <div class="row" style="height:100%">
            <div class="row_margin">
              <h5>상태</h5>
              <div class="buy btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> 렌탈
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option2" autocomplete="off"> 판매
                </label>
              </div>
            </div>
          </div>
          <div class="row" style="height:100%">
            <div class="price row_margin">
              <h5>가격</h5>
              <input id='low_price' class="form-control" type="text" placeholder="10,000" /> ~
              <input id='high_price' class="form-control" type="text" placeholder="50,000" />
            </div>
            <div class="row_find">
              <img id='reset' style="float:right" src="/images/reset.png" />
              <img id='find' style="float:right" src="/images/find.png" />

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="section-tag ">
    <div class="container-tag" style="background-color:#e3e3e3">
      <div class="container slide" style="padding: 35px 0;">
        <input type="radio" name="pos" id="pos1" checked>
        <input type="radio" name="pos" id="pos2">
        <ul>
          <li>
            <span class="tag_box">
              <h5>키워드</h5>
              <button>#여름</button>
              <button>#무더위</button>
              <button>#겨울</button>
              <button>#카페</button>
              <button>#갬성</button>
            </span>
          </li>
          <li>
            <span class="tag_box">
              <h5>키워드</h5>
              <button>#겨울</button>
              <button>#추위</button>
              <button>#스키장</button>
              <button>#눈</button>
              <button>#갬성</button>
            </span>
          </li>
        </ul>
        <span class="tag_button bullet">
          <label for="pos1">
            <span id="tag_left">
              <img src="/images/left.png" />
            </span>
          </label>
          <label for="pos2">
            <span id="tag_right">
              <img src="/images/right.png" />
            </span>
          </label>
        </span>
      </div>

    </div>
  </div>


  <div class="section2">
    <div class="container">
      <div id="masonry_container">

      </div>
      <div id="noneItem">
        <h2>조회하신 결과를 찾을 수 없습니다. </h2>
      </div>
    </div>
    <div class="innerLoading" id="inner">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <!--modal-->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-width" role="document">
      <div class="modal-content" id="loginModalContent">
        <div class="modal-header modal-border-none">
          <div style="width:100%;" class="text-center">
            <img src="/images/logo2.png" id="loginModalIMG">
            <h5 class="modal-title" id="loginModalTitle">작품 재활용 시작하기</h5>
          </div>
        </div>
        <div class="modal-body" id="loginModalBody">
          <!--form-->
          <form id="loginModalForm" action="/login" method="post">
            <div class="form-group modal-input-space">
              <input style="width:100%; text-align:left;" type="text" name="userID" class="form-control" id="loginModalIDInput" placeholder="아이디">
            </div>
            <div class="form-group modal-input-space">
              <input style="width:100%; text-align:left;" type="text" name="userPW" class="form-control" id="loginModalPWInput" placeholder="비밀번호">
            </div>
            <div class="wrong-ID login-error">존재하지 않는 아이디입니다</div>
            <div class="wrong-PW login-error">잘못된 비밀번호입니다</div>
            <button type="button" onclick="loginCheck()" id="loginModalBtn" class="btn btn-block btn-primary font-weight-bold" style="margin-top: 0.5rem">이용하기</button>
          </form>
          <div style="width:100%;" class="text-center">
            <button type="button" id="findPWBtn" class="btn btn-link btn-sm">비밀번호 찾기</button>
          </div>
        </div>
        <div class="modal-footer" style="border-color:rgba(148, 233, 235, 0.5);">
          <div style="width:100%;" class="text-center">
            <span style="font-size:0.875rem;">아직 계정이 없으세요?</span>
            <button type="button" class="btn btn-link btn-sm" id="loginModalJoinBtn" onclick="location.href='/signup'">회원가입하기</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="footer-text">
        <span id="footer_logo"><img src="/images/logo1.png" /></span>
        <h4>만의 서비스를 체험해보세요</h4>
      </div>
    </div>
  </footer>

  <!-- TOP버튼 -->
  <a class="top"><img id="top_img" src="/images/top.png" /></a>
</body>

<!-- Load  find.js -->
<script src="/javascripts/find.js"></script>
<script>
  function resetModal() {
    $('.wrong-ID').hide();
    $('.wrong-PW').hide();
    $('input[name=userID]').val('');
    $('input[name=userPW]').val('');
  }
  /*
      $(".modal").on("show.bs.modal", function(){
        $('.worng-ID').hide();
        $('.worng-PW').hide();
      });
  */

  function loginCheck() {
    $.ajax({
      type: 'POST',
      url: '/auth',
      data: {
        userID: $('input[name=userID]').val(),
        userPW: $('input[name=userPW]').val()
      },
      success: function(data) {
        if (data === 'ID') {
          console.log(data);
          $('.wrong-ID').show();
          $('.wrong-PW').hide();
        } else if (data === 'PW') {
          console.log(data);
          $('.wrong-ID').hide();
          $('.wrong-PW').show();
        } else if (data === 'OK') {
          $('.wrong-ID').hide();
          $('.wrong-PW').hide();
          $('#loginModalForm').submit();
        }
      }
    })
  }
</script>

</html>
