<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Recycle:: 버려졌던 작품을 재활용</title>
  <!-- meta tags SEO -->
  <meta charset="utf-8" />
  <meta name="subject" content="작품 재활용">
  <meta name="title" content="Secondhand:: 버려졌던 작품을 재활용">
  <meta name="author" content="OpenYearRound">
  <meta name="keywords" content="artwork, 예술품, 공모전, 대학생, 작품재활용, 작품렌트">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">

  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <!-- google web font Noto Sans-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean" rel="stylesheet">

  <!-- load css files -->
  <link href="/stylesheets/find.css" rel="stylesheet">
  <!-- pinterest -->
  <script src="/javascripts/jquery.masonry.min.js"></script>
  <script src="/javascripts/jquery.imagesloaded.min.js"></script>
</head>

<body>
  <div id="navbar">
    <div class="logo">
      <img src="/images/logo2.png" />
    </div>
    <div class="nav-list">
      <a href="/">Home</a>
      <a href="/find">작품 보기</a>
      <a href="/register">작품 등록하기</a>
    </div>
    <div class="log_png">
      <a href="#"><img src="/images/cart.png" /></a>
      <a href="#"><img src="/images/find.png" /></a>
      <a href="#"><img src="/images/profile.png" /></a>
    </div>
  </div>

  <div class="section1">
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <div class="container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active category">
            <!-- <form method="POST"> -->
            <div class="row">
              <div class="thema row_margin">
                <h5>테마</h5>
                <button>일러스트</button>
                <button>사진</button>
                <button>회화</button>
                <button>가구</button>
                <button>캘리그라피</button>
                <button>사운드</button>
                <button>애니메이션</button>
                <button id="ridicule">조소</button>
              </div>
            </div>
            <div class="row">
              <div class="region row_margin">
                <h5>지역</h5>
                <button>서울</button>
                <button>대구</button>
                <button>부산</button>
                <button>울산</button>
              </div>
            </div>
            <div class="row_last" style="height:25%">
              <div class="row" style="height:100%">
                <div class="row_margin">
                  <h5>상태</h5>
                  <div class="buy btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> 렌탈
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> 판매
                    </label>
                  </div>
                </div>
              </div>
              <div class="row" style="height:100%">
                <div class="price row_margin">
                  <h5>가격</h5>
                  <input id='low_price' class="form-control" type="text" placeholder="10,000" /> ~
                  <input id='high_price' class="form-control" type="text" placeholder="50,000" />
                </div>
              </div>
            </div>
            <div class="row" style="padding:0; border:none">
              <div class="row_margin_button">
                <input id="find" type="button" value="찾기" />
              </div>
            </div>
            <!-- </form> -->
          </div>
          <!--
          <div class="carousel-item tag">
            <div class="title">
              <h3>오늘의 태그</h3>
            </div>
            <div class="tag_box">cj
              <button>#여름</button>
              <button>#무더위</button>
              <button>#겨울</button>
              <button>#카페</button>
            </div>
            <div class="tag_box">
              <button>#감성</button>
              <button>#비온날</button>
              <button>#자연</button>
            </div>
            <div class="tag_box">
              <button>#여름</button>
              <button>#무더위</button>
              <button>#겨울</button>
              <button>#카페</button>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="section2">
    <div class="container">
      <div id="masonry_container">
        <!-- <div class="paper">
          <div class="paper-holder">
            <a><img width="190" src="http://placekitten.com/190/258" /></a>
          </div>
          <p class="paper-description">Lorem ipsum dolor sit amet</p>
          <div class="paper-content">
            <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
            <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="footer-text">
        <span id="footer_logo"><img src="/images/logo1.png" /></span>
        <h4>만의 서비스를 체험해보세요</h4>
      </div>
    </div>
  </footer>

</body>

<script>
  function category(){
    var buy = $.trim($('.buy').find(".active").text());
    var low_price = $('#low_price').val();
    var high_price = $('#low_price').val();
    var theme = new Array();
    var region = new Array();

    var count = 0;
    for (var i = 0; i < $('.thema').find('button').length; i++) {
      if ($('.thema').find('button')[i]['style'].borderColor == 'black') {
        theme[count] = $('.thema').find('button')[i].outerText;
        count++;
      }
    }
    count = 0;
    for (var i = 0; i < $('.region').find('button').length; i++) {
      if ($('.region').find('button')[i]['style'].borderColor == 'black') {
        region[count] = $('.region').find('button')[i].outerText;
        count++;
      }
    }
  }


  function getData(buy, theme, region, low_price, high_price) {


    console.log('client 테마 = ' + theme);
    console.log('client 지역 = ' + region);
    console.log('client 상태 = ' + buy);
    console.log('client 가격 = ' + low_price);

    $.ajax({
      type: 'post',
      url: '/find',
      async: false,
      data: {
        buy: buy,
        theme: theme,
        region: region,
        low_price: low_price,
        high_price: high_price
      },
      success: function(data) {
        $('#masonry_container').empty();
        var html = "";
        if (data != null) {
          for (var i = 3; i < 20; i++) {
            var category = data[i]['category'];
            var local = data[i]['local'];
            var state = data[i]['state'];
            var title = data[i]['title'];
            var user = data[i]['user'];
            var price = data[i]['price'];
            var img = data[i]['img'];
            var plus = `<div class="paper">
                            <div class="paper-holder">
                              <a><img width="225" src="${img}" /></a>
                            </div>
                            <div class="paper-description">
                              <p id='title'>${title}</p>
                              <p id="userId">${user}</p>
                            </div>
                            <div class="paper-content">
                              <span id="price">${price}원</span>
                              <span class="paper-state">
                                <span id="state_${i}" style="display:none">${state}</span>
                                <span class="state1" id="state1_${i}">렌탈</span>
                                <span class="state2" id="state2_${i}">판매</span>
                              </span>
                            </div>
                          </div>`;
            html += plus;
          }
          document.getElementById('masonry_container').innerHTML = html;
        }
      }
    });
  }

  category();
  getData('ALL', 'ALL', 'ALL', 'ALL');

  $('#find').click(function() {
    getData(buy, theme, region, low_price, high_price);
  });
</script>

<!-- Load  find.js -->
<script src="/javascripts/find.js"></script>


</html>
