<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Recycle:: 버려졌던 작품을 재활용</title>
  <!-- meta tags SEO -->
  <meta charset="utf-8" />
  <meta name="subject" content="작품 재활용">
  <meta name="title" content="Secondhand:: 버려졌던 작품을 재활용">
  <meta name="author" content="OpenYearRound">
  <meta name="keywords" content="artwork, 예술품, 공모전, 대학생, 작품재활용, 작품렌트">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">

  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- google web font Noto Sans-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean" rel="stylesheet">

  <!-- load css files -->
  <link href="/stylesheets/find.css" rel="stylesheet">

  <!-- pinterest -->
  <script src="/javascripts/jquery.masonry.min.js"></script>
  <script src="/javascripts/jquery.imagesloaded.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.section2 .container').imagesLoaded(function() {
        $('.section2 .container').masonry({
          itemSelector: '.paper',
          columnWidth: 265,
          isAnimated: true
        });
      });
    });
  </script>
</head>

<body>
  <div id="navbar">
    <div class="logo">
      <img src="/images/logo2.png" />
    </div>
    <div class="nav-list">
      <a href="index.ejs">Home</a>
      <a href="find.ejs">작품 보기</a>
      <a href="register.ejs">작품 등록하기</a>
    </div>
    <div class="log_png">
      <a href="#"><img src="/images/cart.png"/></a>
      <a href="#"><img src="/images/find.png"/></a>
      <a href="#"><img src="/images/profile.png"/></a>
    </div>
  </div>

  <div class="section1">
    <div class="container">
      <h1>Category</h1>
    </div>
  </div>

  <div class="section2">
    <section class="container">
      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/328" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/176" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/205" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/216" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/256" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/182" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/176" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/316" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/186" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/249" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/324" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/305" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/180" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/273" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/188" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/230" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/192" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/317" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/326" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

      <div class="paper">
        <div class="paper-holder">
          <a><img width="190" src="http://placekitten.com/190/258" /></a>
        </div>
        <p class="paper-description">Lorem ipsum dolor sit amet</p>
        <div class="paper-content">
          <a class="paper-link" href="#"><img src="http://placekitten.com/30/30" /></a>
          <p class="paper-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem mi, egestas a facilisis eget, egestas ut magna.</p>
        </div>
      </div>

    </section>
  </div>

  <footer>
    <div class="container">
      <div class="footer-text">
        <span id="footer_logo"><img src="/images/logo1.png" /></span>
        <h4>만의 서비스를 체험해보세요</h4>
      </div>
    </div>
  </footer>

</body>

</html>
