<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Recycle:: 버려졌던 작품을 재활용</title>
  <!-- meta tags SEO -->
  <meta charset="utf-8" />
  <meta name="subject" content="작품 재활용">
  <meta name="title" content="Secondhand:: 버려졌던 작품을 재활용">
  <meta name="author" content="OpenYearRound">
  <meta name="keywords" content="artwork, 예술품, 공모전, 대학생, 작품재활용, 작품렌트">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">

  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <!-- google web font Noto Sans-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean" rel="stylesheet">

  <!-- load css files -->
  <link href="/stylesheets/mypage.css" rel="stylesheet">
</head>

<script>
    $.post('/userID', function(data){
        if (data.userID){
            userID = document.getElementById("user_id");
            userEmail = document.getElementById("user_email");
            userPhone = document.getElementById("user_phone");
            userID.textContent = data.userID;
            userEmail.textContent = data.userEmail;
            userPhone.textContent = data.userPhone;
        } else {
            alert('session error!');
            window.location.href="/find";
        }
    })
</script>

<body>
    <div id="navbar">
        <div class="logo">
            <img src="/images/logo2.png" />
        </div>
        <div class="nav-list">
          <a href="/">Home</a>
          <a href="/find">작품 보기</a>
          <a href="/register">작품 등록하기</a>
        </div>
        <div class="log_png">
          <a href="#"><img src="/images/cart.png" /></a>
          <a href="#"><img src="/images/find.png" /></a>
          <a href="/mypage"><img src="/images/profile.png" /></a>
        </div>
    </div>

    <div class="section1">
        <div class="user_profile">
            
            <div class="user_img_area rounded-circle">
                <img class="user_img" src="/images/profile.png" />
            </div>
            
            <div class="user_info">
                <div id="user_id">userID</div>
                <div id="user_email" class="user_sub_info">123@gmail.com</div>
                <div id="user_phone" class="user_sub_info">000-0000-0000</div>
            </div>
            <button type="button" id="profile_edit_btn" class="btn btn-outline-primary" onclick="location.href='/profile/edit'">프로필 수정</button>
        
        </div>
    </div>

    <div class="section2">
        <div class="menu_bar">
            <button type="button" id="my_article_btn" class="btn btn-link menu_btn rounded-0">작품</button>
            <button type="button" id="my_purchase_btn" class="btn btn-link menu_btn rounded-0">구매</button>
            <button type="button" id="my_message_btn" class="btn btn-link menu_btn rounded-0">쪽지</button>
        </div>
        <div class="content_area"></div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-text">
                <span id="footer_logo"><img src="/images/logo1.png" /></span>
                <h4>만의 서비스를 체험해보세요</h4>
            </div>

        </div>
    </footer>
</body>
</html>