<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Recycle:: 버려졌던 작품을 재활용</title>
    <!-- meta tags SEO -->
    <meta charset="utf-8" />
    <meta name="subject" content="작품 재활용">
    <meta name="title" content="Secondhand:: 버려졌던 작품을 재활용">
    <meta name="author" content="OpenYearRound">
    <meta name="keywords" content="artwork, 예술품, 공모전, 대학생, 작품재활용, 작품렌트">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <!-- jqueryUI -->
    <link rel="stylesheet" href="/tokenfield/jquery-ui.min.css">
    <script src="/tokenfield/jquery-ui.min.js"></script>
    <!-- hashtag -->
    <link rel="stylesheet" href="/tokenfield/css/bootstrap-tokenfield.min.css">
    <script src="/tokenfield/bootstrap-tokenfield.min.js"></script>
    <!-- google web font Noto Sans-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean"
        rel="stylesheet">

    <!-- load css files -->
    <link href="/stylesheets/register.css" rel="stylesheet">

<body>
    <div id="navbar">
        <div class="logo">
            <img src="/images/logo2.png" />
        </div>
        <div class="nav-list">
            <a href="/">Home</a>
            <a href="/find">작품 보기</a>
            <a href="/register">작품 등록하기</a>
        </div>
        <div class="log_png">
            <a href="#"><img src="/images/cart.png" /></a>
            <a href="#"><img src="/images/find.png" /></a>
            <a href="#"><img src="/images/profile.png" /></a>
        </div>
    </div>

    <div class="section1">
        <div class="container">
            <div class="section">
                <!-- 이미지등록 -->
                <div class="imgSection">
                    <div class="imgSubmit">
                        <div class="imgRegister">
                            <h3>이미지 등록</h3>
                        </div>
                        <!-- <form id="imgForm" action="/upload" method="post" enctype="multipart/form-data">
                            <div class="chooseBtn">
                                <input class="btnFile" type="file" id="img" name="userFile" />
                            </div>
                            <div class="imgPreview">
                                <img id="stuff" src="#" alt="your image" />
                            </div>
                        </form> -->
                        <form id="imgForm" action="/upload" method="post" enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01" name="userFile">
                                    <label class="custom-file-label fileinput" for="inputGroupFile01">파일선택</label>
                                </div>
                            </div>
                            <div class="imgPreview">
                                <img id="stuff" src="/images/default_img.png" alt="" />
                            </div>
                        </form>

                    </div>
                </div>
                <!-- 기본정보 등록 -->
                <div class="imgInformation">
                    <div>
                        <form id="infoForm" action="/info" method="post">
                            <input id="post_id" type="hidden" name="postId">
                            <div>
                                <h3>기본 정보</h3>
                            </div>
                            <div class="row">
                                <div class="rowLeft">
                                    <label>카테고리</label>
                                </div>
                                <div class="rowRight">
                                    <select class="form-control" name="category">
                                        <option>카테고리 선택</option>
                                        <option>일러스트</option>
                                        <option>사진</option>
                                        <option>디자인</option>
                                        <option>회화</option>
                                        <option>캘리그라피</option>
                                        <option>사운드</option>
                                        <option>조소/공예</option>
                                        <option>애니메이션</option>
                                        <option>가구</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="rowLeft">
                                    <label>거래지역</label>
                                </div>
                                <div class="rowRight">
                                    <input class="inputLen form-control" placeholder="선호 거래 지역" name="local">
                                </div>
                            </div>
                            <div class="row">
                                <div class="rowLeft">
                                    <label>상태</label>
                                </div>
                                <div class="rowRight">
                                    <select class="form-control" name="state">
                                        <option>판매</option>
                                        <option>렌탈</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="rowLeft">
                                    <label>제목</label>
                                </div>
                                <div class="rowRight">
                                    <input class="inputLen form-control" name="title">
                                </div>
                            </div>
                            <div class="row">
                                <div class="rowLeft">
                                    <label>가격</label>
                                </div>
                                <div class="rowRight">
                                    <input class="inputLen form-control" placeholder="10000(가격은 숫자로만 입력)" name="price">
                                </div>
                            </div>
                            <div class="row">
                                <div class="rowLeft">
                                    <label>설명</label>
                                </div>
                                <div class="rowRight">
                                    <div class="input-group"><textarea class="txtArea form-control"
                                            placeholder="상품 설명은 2000자까지 가능합니다." name="description"></textarea></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="rowLeft">
                                    <label>연관태그</label>
                                </div>
                                <!-- <input class="rowInput inputLen form-control" placeholder="연관 태그(예: 아이폰, 케이스)"> -->
                                <div class="" id="hash">
                                    <input type="text" class="tokenfield" id="tokenfield"
                                        placeholder="선택 사항(예: 아이폰, 케이스) 최대 5개">
                                </div>
                            </div>
                            <div>
                                <input id="btnSubmit" class="btn" type="button" value="물품등록" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <footer>
        <div class="container">
            <div class="footer-text">
                <span id="footer_logo"><img src="/images/logo1.png" /></span>
                <h4>만의 서비스를 체험해보세요</h4>
            </div>

        </div>
    </footer>


</body>
<!-- Load  index.js -->
<script src="/javascripts/register.js"></script>
<script>
    $('#btnSubmit').click(function () {
        var imgForm = document.getElementById('imgForm');
        var formdata = new FormData(imgForm);
        var hashtag = new Array();

        for (var i = 0; i < $('.token-label').length; i++) {
            hashtag[i] = $('.token-label')[i]['textContent'];
        }

        $.ajax({
            cache: false,
            processData: false,
            contentType: false,
            type: "POST",
            url: '/upload',
            data: formdata
        }).done(function (data) {
            if (data) {
                console.log(data);
                var idx = data.id;
                document.getElementById("post_id").value = idx;
                $('#infoForm').submit();

                $.ajax({
                    url: '/insertHashtag',
                    type: 'post',
                    data: {
                        postid: idx,
                        hashtag: hashtag
                    },
                    traditional: true
                });
            }
            else {
                console.log('error');
            }
        });
    });
</script>

<script>

    $('.tokenfield').on('tokenfield:createtoken', function (event) {
        var existingTokens = $(this).tokenfield('getTokens');
        $.each(existingTokens, function (index, token) {
            if (token.value === event.attrs.value)
                event.preventDefault();
        });
    });

    $('.tokenfield').tokenfield({
        showAutocompleteOnFocus: true,
        limit: 5,
        minLength: 0
    });

</script>


</html>