*, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

/* 메뉴 바 */
#navbar {
  padding-left: 100px;
  padding-right: 100px;
  z-index: 1000;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 .2rem .25rem rgba(0, 0, 0, .09);
}

.logo {
  float: left;
}

.logo img {
  width: 150px;
  height: 60px;
}

.nav-list {
  float: left;
  font-size: 20px;
  font-weight: 500;
}

.nav-list a {
  padding: 15px;
}

#navbar a {
  float: left;
  display: block;
  color: #495057;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  font-weight: 700;
  color: black;
}

.log_png {
  float: right;
  display: inline;
  padding-right: 35px;
  line-height: 60px;
}

.log_png img {
  width: 32px;
  height: 32px;
  margin-right: 18px;
}

/* 섹션 1 */
.section1 {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  height: 350px;
}

.section1 .container {
  padding-top: 70px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 350px;
}
.category{
  width: 100%;
  height: 100%;
  margin:0;
  border : 0.8px #ddd solid;
  border-left: 2px black solid;
}
.row {
  margin: 0;
  padding-left: 30px;
  padding-top: 12px;
  width:100%;
  height: 25%;
  border-bottom:0.8px #ddd solid;
}
.row h5{
  display: inline;
  padding-right: 40px;
}
.row button{
  display: inline;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 16px;
  background-color: white;
  border: 1px #d7dede solid;
  color : #d7dede;
  border-radius: 2.5px;
  outline : 0;
}

/* 섹션 2 */
.section2 {
  margin-bottom: 50px;
  width: 100%;
}

.section2 .container {
  padding-top: 70px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
#masonry_container{
  width: 100%;
  height: 100%;
  margin:0;
}


/* 섹션 2 - 종이 스타일 */
.paper {
  width: 265px;
  margin-top: 10px;
  padding: 20px 20px 0;
  font-size: 11px;
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.paper-content {
  margin: 0 -15px;
  margin-top: 10px;
  padding: 10px 15px;
  background: #F2F0F0;
  overflow: hidden;
}
.paper-description {
  margin: 10px 0;
}
.paper-link {
  display: block;
  float: left;
}
.paper-text {
  float: left;
  width: 150px;
  margin-left: 10px;
}

/*modal*/
.modal-width {
  max-width: 400px;
}

.modal-border-none {
  border: none;
}

#loginModalIMG {
  width: 180px;
  padding-top: 1.5rem;
}

#loginModalBody {
  padding: 1.7rem 4.5rem;
}

.modal-input-space {
  margin-bottom: 0.5rem;
}

#loginModalIDInput:focus, #loginModalPWInput:focus {
  border-color: #94e9eb;
  box-shadow: 0 0 0 0.2rem rgba(165, 249, 250, 0.3);
}

#loginModalBtn {
  background-color:#94e9eb;
  border-color:#94e9eb;
}

.btn-link:hover {
  text-decoration: none;
}

#findPWBtn {
  margin-top: 0.2rem;
  color: #7a7a7a;
}

#loginModalJoinBtn {
  color: #16b8ba;
  padding-top: 0;
  border: none;
}

/* footer */
footer {
  background-color: #7fcacb;
  height: 30vh;
  line-height: 30vh;
}

.footer-text {
  text-align: center;
}

.footer-text h4 {
  display: inline;
  font-size: 50px;
  color: white;
  vertical-align: middle;
}

#footer_logo img {
  width: 300px;
}
