*, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}
input::placeholder{
  font-style: italic;
}

/* 메뉴 바 */
#navbar {
  padding-left: 100px;
  padding-right: 100px;
  z-index: 1000;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 .2rem .25rem rgba(0, 0, 0, .09);
}

.logo {
  float: left;
}

.logo img {
  width: 150px;
  height: 60px;
}

.nav-list {
  float: left;
  font-size: 20px;
  font-weight: 500;
}

.nav-list a {
  padding: 15px;
}

#navbar a {
  float: left;
  display: block;
  color: #495057;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  font-weight: 700;
  color: black;
}

.log_png {
  float: right;
  display: inline;
  padding-right: 35px;
  line-height: 60px;
}

.log_png img {
  width: 32px;
  height: 32px;
  margin-right: 18px;
}

/* section1 control */
.carousel-control-prev {
}

.carousel-control-next {
}

.carousel-control-prev-icon {
  background-image: url('../images/prev.png')
}

.carousel-control-next-icon {
  background-image: url('../images/next.png')
}

/* section1 */
.section1 {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  height: 350px;
}

.section1 {
  /*
  padding-top: 70px;
  padding-left: 0;
  padding-right: 0; */
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* section1 - category */
.category {
  width: 100%;
  height: 350px;
  margin: 0;
}
.row {
  margin: 0;
  padding-left: 30px;
  height: 25%;
  border-top: 0.8px #ddd solid;
  border-right: 0.8px #ddd solid;
  border-left: 2px black solid;
}
.row_last{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.8px #ddd solid;
}
.row_margin {
  margin: auto 0;
}
.row_margin_button {
  margin-left: auto;
  margin-right: auto;
  margin-top : 40px;
}
.row h5 {
  display: inline;
  padding-right: 40px;
}
.row button {
  display: inline;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 16px;
  background-color: white;
  border: 1px #d7dede solid;
  color: #d7dede;
  border-radius: 2.5px;
  outline: 0;
}
.row_find{
  text-align: center;
  margin : 0 auto;
  width:100%;
}
#find{
  cursor: pointer;
  width: 100px;
  height: 50px;
  background-color: #7fcacb;
  border-radius: 5px;
  border: 0px;
  font-size: 15px;
  color: white;
  outline: 0 ;
}
.form-control{
  text-align: center;
  display: inline;
  width:80px;
}
.form-control:focus {
    border-color: #7fcacb;
    box-shadow: 0 0 0 0.2rem rgba(151, 231, 232,.5);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #7fcacb;
    border-color: #7fcacb;
}
.btn-secondary {
    color: #7fcacb;
    background-color: #fff;
    border-color: #ddd;
}
.btn-secondary:hover {
    color: #7fcacb;
    background-color: #fff;
    border-color: #ddd;
}
.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(151, 231, 232,.5);
}

/* section1 - tag */
.tag {
  padding-top: 50px;
  width: 100%;
  height: 350px;
  margin: 0;
  background-color: #7fcacb;
  border-radius: 15px;
  color : white;
  text-align: center;
}
.tag_box{
  margin-top: 30px;
}
.tag_box button{
  margin-right: 15px;
  font-weight: 10px;
  color : white;
  border-radius: 30px;
  width:90px;
  height:45px;
  border : 1.3px solid white;
  background-color: #7fcacb;
}



/* 섹션 2 */
.section2 {
  margin-bottom: 50px;
  width: 100%;
}

.section2 .container {
  padding-top: 70px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

#masonry_container {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* 섹션 2 - 종이 스타일 */
.paper {
  cursor: pointer;
  width: 265px;
  margin-top: 10px;
  padding: 20px 20px 0;
  font-size: 11px;
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.paper-description {
  margin: 10px 0;
  /* font-weight: 700;
  font-size: 15px; */
  text-align: left;
}
.paper-description p{
  margin : 0 0 10px;
}
.paper-content {
  border-top: solid 0.5px #ddd;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 6px;
  padding-top: 20px;
  /* background: #F2F0F0; */
  overflow: hidden;
}


.paper-state {
  float: right;
}
#title{
  font-weight: 700;
  font-size: 15px;
}
#userId{
  font-size: 13px;
}
#price{
  font-size: 13px;
}
#state{
  display: none;
}
.state1{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
  padding : 5px;
  cursor: pointer;
  margin-right:-2px;
}
.state2{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  padding : 5px;
  margin-left: -2px;
  cursor: pointer;
}
/* footer */
footer {
  background-color: #7fcacb;
  height: 30vh;
  line-height: 30vh;
}

.footer-text {
  text-align: center;
}

.footer-text h4 {
  display: inline;
  font-size: 50px;
  color: white;
  vertical-align: middle;
}

#footer_logo img {
  width: 300px;
}
