*, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

input::placeholder {
  font-style: italic;
}

ul, li {
  list-style: none;
}

/* 메뉴 바 */
#navbar {
  padding-left: 100px;
  padding-right: 100px;
  z-index: 1000;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 .2rem .25rem rgba(0, 0, 0, .09);
}

.logo {
  float: left;
}

.logo img {
  width: 150px;
  height: 60px;
}

.nav-list {
  float: left;
  font-size: 20px;
  font-weight: 500;
}

.nav-list a {
  padding: 15px;
}

#navbar a {
  float: left;
  display: block;
  color: #495057;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  font-weight: 700;
  color: black;
}

.log_png {
  float: right;
  display: inline;
  padding-right: 35px;
  line-height: 60px;
}

.log_png img {
  width: 32px;
  height: 32px;
  margin-right: 18px;
}

/* section1 */
.section1 {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
}

/* section1 - category */
.category {
  width: 100%;
  margin: 0;
}

.row {
  margin: 0;
  padding: 20px 30px;
  height: 25%;
  border-top: 0.8px #ddd solid;
  border-right: 0.8px #ddd solid;
  border-left: 2px black solid;
}

.row_last {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.8px #ddd solid;
}

.row_margin {
  margin: auto 0;
}

.row_margin_button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.row h5 {
  display: inline;
  padding-right: 40px;
}

.row button {
  display: inline;
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 16px;
  background-color: white;
  border: 1px #d7dede solid;
  color: #d7dede;
  border-radius: 2.5px;
  outline: 0;
}

.price {
  width: 70%;
}

.row_find {
  width: 30%;
  float: right;
  margin: auto 0;
}

#find {
  cursor: pointer;
  width: 32px;
  height: 32px;
}
#reset {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-left: 17px;
}

.form-control {
  text-align: center;
  display: inline;
  width: 80px;
}

.form-control:focus {
  border-color: #7fcacb;
  box-shadow: 0 0 0 0.2rem rgba(151, 231, 232, .5);
}

/* 렌탈 vs 판매 버튼 */
.btn {
  cursor: pointer;
  font-size: 1rem;
  height: 55px;
  line-height: 2.5;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #7fcacb;
  border-color: #7fcacb;
}
.btn-secondary {
  color: #7fcacb;
  background-color: #fff;
  border-color: #ddd;
}
.btn-secondary:hover {
  color: #7fcacb;
  background-color: #fff;
  border-color: #ddd;
}
.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(151, 231, 232, .5);
}
.rental{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -3px;
}
.buy{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#state_check{
  border-style:solid;
  border-color: #7fcacb;
  border-width:0.5px;

  background-color:#7fcacb;
  color:white;
  padding:5.5px;
  font-size: 12px;

}
#state_uncheck{
  border-style:solid;
  border-color:#7fcacb;
  border-width:0.5px;
  background-color:white;
  color:#7fcacb;
  padding:5.5px;
  font-size: 12px;
}
/* section1 - tag */
.slide {
  overflow: hidden;
  position: relative;
}

.slide ul {
  width: calc(100% * 2);
  display: flex;
  transition: 1s;
  margin: 0;
}

.slide li {
  margin-left: 15px;
  width: calc(100% / 2);
}

.slide input {
  display: none;
}

/* 슬라이드 조작 */
#pos1:checked~ul {
  margin-left: 0;
}

#pos2:checked~ul {
  margin-left: -100%;
}

/* bullet 조작 */
#pos1:checked~.bullet label:nth-child(1),
#pos2:checked~.bullet label:nth-child(2) .container-tag {
  margin: 0;
}

.tag_box {
  text-align: left;
}

.tag_box h5 {
  padding-right: 30px;
  display: inline;
  font-size: 23px;
}

.tag_box button {
  margin-right: 15px;
  font-size: 20px;
  color: white;
  border-radius: 30px;
  width: 150px;
  height: 65px;
  border: 1.3px solid #7fcacb;
  background-color: #7fcacb;
}

.tag_button {
  position: absolute;
  right: 15px;
  top: 43px
}

.tag_button img {
  cursor: pointer;
  width: 60px;
  height: 50px;
}

/* 섹션 2 */
.section2 {
  background-color: #f4f4f4;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.section2 .container {
  padding-top: 70px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.margin_auto {
  margin: 0 auto;
}

#masonry_container {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* 섹션 2 - 종이 스타일 */
.paper {
  width: 265px;
  margin-top: 10px;
  padding: 15px 20px 0;
  font-size: 11px;
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.paper-holder{
  cursor: pointer;
}
.paper-description {
  margin: 10px 0;
  text-align: left;
}

.paper-description p {
  margin: 0;
}

.paper-content {
  overflow: hidden;
      margin: 10px 0;
      padding: 9px 0;
}

.paper-state {
  float: right;
}
.paper-info{
  border-top: solid 0.5px #ddd;
  padding: 8px;
  height: 37px;
}
#title {
  font-weight: 700;
    font-size: 17px;
}

#userId {
  font-size: 13px;
}

#price {
  font-size: 13px;
}

#state {
  display: none;
}
.like{
  float:left;
  cursor: pointer;
  font-size: 13px;
}
.like img{
  margin-right: 7px;
  width: 15px;
  height: 15px;
}
#views{
  float:right;
  font-size: 13px;
}
#views img{
  margin-right: 7px;
  width: 24px;
  height: 15px;
}

@keyframes like_big {
  0% {
    width: 15px;
    height: 15px;
  }

  25% {
    width: 16px;
    height: 16px;
  }

  50% {
    width: 18px;
    height: 18px;
  }

  75% {
    width: 16px;
    height: 16px;
  }

  100% {
    width: 15px;
    height: 15px;
  }
}

#noneItem{
  height: 150px;
  text-align: center;
  display: none;
}
.innerLoading{
  text-align: center;
  padding: 40px;
}
.spinner-border {
  width: 3rem;
  height: 3rem;
  display: none;
}


/*modal*/
.modal-width {
  max-width: 400px;
}

.modal-border-none {
  border: none;
}

#loginModalIMG {
  width: 180px;
  padding-top: 1.5rem;
}

#loginModalBody {
  padding: 1.7rem 4.5rem;
}

.modal-input-space {
  margin-bottom: 0.5rem;
}

#loginModalIDInput:focus, #loginModalPWInput:focus {
  border-color: #94e9eb;
  box-shadow: 0 0 0 0.2rem rgba(165, 249, 250, 0.3);
}

.login-error {
  color: red;
  display: none;
  font-size: 0.875rem;
  /*padding-bottom: 5px;*/
}

#loginModalBtn {
  background-color:#94e9eb;
  border-color:#94e9eb;
}

.btn-link:hover {
  text-decoration: none;
}

#findPWBtn {
  margin-top: 0.2rem;
  color: #7a7a7a;
}

#loginModalJoinBtn {
  color: #16b8ba;
  padding-top: 0;
  border: none;
}


/* footer */
footer {
  background-color: #7fcacb;
  height: 30vh;
  line-height: 30vh;
}

.footer-text {
  text-align: center;
}

.footer-text h4 {
  display: inline;
  font-size: 50px;
  color: white;
  vertical-align: middle;
}

#footer_logo img {
  width: 300px;
}


/* top button */
.top{
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  bottom: -70px;
  right: 25px;
}
.top img{
  width:60px;
  height: 60px;
}
@keyframes top_big {
  0% {
    width: 60px;
    height: 60px;
  }

  25% {
    width: 61px;
    height: 61px;
  }

  50% {
    width: 63px;
    height: 63px;
  }

  75% {
    width: 61px;
    height: 61px;
  }

  100% {
    width: 60px;
    height: 60px;
  }
}
