  *, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  /* 메뉴 바 */
  #navbar {
    padding-left: 100px;
    padding-right: 100px;
    z-index: 1000;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 .2rem .25rem rgba(0, 0, 0, .09);
  }
  
  .logo {
    float: left;
  }
  
  .logo img {
    width: 150px;
    height: 60px;
  }
  
  .nav-list {
    float: left;
    font-size: 20px;
    font-weight: 500;
  }
  
  .nav-list a {
    padding: 15px;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #495057;
    text-align: center;
    text-decoration: none;
  }
  
  #navbar a:hover {
    font-weight: 700;
    color: black;
  }
  
  .log_png {
    float: right;
    display: inline;
    padding-right: 35px;
    line-height: 60px;
  }
  
  .log_png img {
    width: 32px;
    height: 32px;
    margin-right: 18px;
  }

 /* section 1 */ 
  .section1 {
    width: 31vw;
    min-height: 100vh;
    display: inline-block;
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 50px;
    float: left;
  }

  .user_profile {
    width: 340px;
    float: right;
  }

  .user_img_area {
    width: 88px; height: 88px;
    overflow: hidden;
    float: right;
    border: solid 1px rgba(0,0,0,0.08);
  }

  .user_img {
      width: 100%;
  }

  .user_info {
      width: 250px;
      min-height: 88px;
      display: inline-block;
      padding-top: 5px;
  }

  #user_id {
      font-size: 1.2rem;
      font-weight: 500;
      text-overflow: ellipsis;
  }

  .user_sub_info {
      font-size: 15px;
      font-weight: 300;
      text-overflow: ellipsis;
      padding-top: 5px;
      color: rgba(0,0,0,0.5);
  }

  #profile_edit_btn {
      margin-top: 15px;
      border-color: #7fcacb;
      color: #7fcacb;
  }

  #profile_change_btn:hover{
    background-color: #7fcacb;
    color: white;
  }


 /* section 2 */ 
  .section2 {
      width: 66vw;
      min-height: 110vh;
      display: inline-block;
      padding-top: 100px;
      padding-left: 50px;
      padding-right: 40px;
      border-left: solid 1px rgba(0,0,0,0.08);
  }

  .menu_bar {
      border-bottom: solid 1px rgba(0,0,0,0.08);
      padding: 0 20px;
  }

  .menu_btn {
      color: rgba(0,0,0,0.6);
      text-decoration: none;
      margin-right: 20px;
  }

  .menu_btn:hover {
    text-decoration: none;
    color:rgba(0,0,0,0.6);
  }
  
  .menu_btn:focus {
    text-decoration: none;
    color:rgba(0,0,0,0.6);
  }

  #my_article_btn {
    font-weight: 500;
    color: black;
    border-bottom: solid #7fcacb 2px;
  }

  #have_article {
    padding: 0 10px;
  }

/* footer */
  footer {
    background-color: #7fcacb;
    height: 30vh;
    line-height: 30vh;
  }
  
  .footer-text {
    text-align: center;
  }
  
  .footer-text h4 {
    display: inline;
    font-size: 50px;
    color: white;
    vertical-align: middle;
  }
  
  #footer_logo img {
    width: 300px;
  }